/* Hero Section */

.hero-section {
  padding-bottom: 100px;
}

.hero-col1-div {
  width: 34.5vw;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 100px;
}

.hero-title {
  color: #6ccaff;
  font-size: 5vw;
  text-transform: uppercase;
}

.hero-subtitle {
  font-size: 1.2vw;
  font-weight: 600;
  text-transform: uppercase;
}

.hero-col2 {
  position: relative !important;
}

.hero-col2-div {
  position: relative !important;
  background-color: #6ccaff;
  opacity: 0.1;
  margin-top: -85px;
  width: 100%;
  height: calc(100% + 85px);
  clip-path: circle(80% at 86% 55%);
}

.floater-one {
  position: absolute !important;
  bottom: 85%;
  right: 70%;
}

.floater-two {
  position: absolute !important;
  bottom: 83%;
  right: 20%;
}

.floater-three {
  position: absolute !important;
  bottom: 75%;
  right: 28%;
}

.floater-four {
  position: absolute !important;
  bottom: 45%;
  right: 75%;
}

.floater-five {
  position: absolute !important;
  bottom: 35%;
  right: 80%;
}

.floater-six {
  position: absolute !important;
  bottom: 45%;
  right: 10%;
}

.profile-img {
  position: absolute !important;
  bottom: 0;
  right: 10vw;
  width: 350px;
  -webkit-animation: fade-in 3s 0s both;
  animation: fade-in 3s 0s both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-img1 {
  position: absolute !important;
  right: 65%;
  bottom: 350px;
  width: 110px;
  -webkit-animation: fade-in 2s 0.25s both;
  animation: fade-in 2s 0.25s both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-img2 {
  position: absolute !important;
  right: 10%;
  bottom: 325px;
  width: 110px;
  -webkit-animation: fade-in 2s 0.5s both;
  animation: fade-in 2s 0.5s both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-img3 {
  position: absolute !important;
  right: 73%;
  bottom: 10px;
  width: 110px;
  -webkit-animation: fade-in 2s 0.75s both;
  animation: fade-in 2s 0.75s both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-img4 {
  position: absolute !important;
  right: 3%;
  bottom: 50px;
  width: 110px;
  -webkit-animation: fade-in 2s 1s both;
  animation: fade-in 2s 1s both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1920px) {
  .floater-one {
    right: 60%;
  }
  .floater-two {
    right: 18%;
  }
  .floater-three {
    right: 26%;
  }
  .floater-four {
    right: 64%;
  }
  .floater-five {
    right: 69%;
  }
  .floater-six {
    bottom: 40%;
  }
  .hero-img1 {
    width: 130px;
    bottom: 400px;
    right: 55%;
  }
  .hero-img2 {
    width: 130px;
    right: 8%;
  }
  .hero-img3 {
    width: 130px;
    right: 62%;
  }
  .hero-img4 {
    width: 130px;
  }
}

@media (min-width: 1600px) {
  .hero-col1-div {
    margin-left: 200px;
  }

  .floater-four {
    bottom: 42%;
  }
  .floater-five {
    bottom: 33%;
  }
  .floater-six {
    bottom: 40%;
  }
  .hero-img1 {
    width: 130px;
  }
  .hero-img2 {
    width: 130px;
    right: 7%;
  }
  .hero-img3 {
    width: 130px;
    right: 68%;
  }
  .hero-img4 {
    width: 130px;
  }
}

@media (min-width: 1440px) {
  .hero-img1 {
    width: 120px;
    bottom: 400px;
  }
  .hero-img2 {
    width: 120px;
    right: 8%;
    bottom: 375px;
  }
  .hero-img3 {
    width: 120px;
  }
  .hero-img4 {
    width: 120px;
  }
  .profile-img {
    width: 400px;
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .hero-col1-div {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hero-col1-div {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    width: auto;
  }
  .hero-title {
    font-size: 3.7rem;
  }
  .hero-subtitle {
    font-size: 0.9rem;
  }
  .floater-one {
    bottom: 95%;
    right: 65%;
  }
  .floater-two {
    bottom: 91%;
    right: 25%;
  }
  .floater-three {
    bottom: 88%;
    right: 31%;
  }
  .floater-four {
    right: 80%;
  }
  .floater-five {
    right: 86%;
  }
  .profile-img {
    width: 320px;
  }
  .hero-img1 {
    right: 70%;
  }
  .hero-img3 {
    right: 80%;
  }
  .hero-img4 {
    right: 1%;
  }
}

@media (max-width: 991px) {
  .hero-section {
    padding-bottom: 0;
  }
  .hero-col1-div {
    width: auto;
    margin: 0;
    padding: 50px;
  }
  .hero-title {
    font-size: 5rem;
    text-align: center;
  }
  .hero-subtitle {
    font-size: 1.4rem;
    text-align: center;
  }
  .hero-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-col2 {
    margin-top: 150px;
  }
  .hero-col2-div {
    margin-top: 0;
    height: 700px;
    clip-path: circle(88.2% at 49% 100%);
  }
  .floater-one {
    bottom: 100%;
    right: 75%;
  }
  .floater-two {
    bottom: 95%;
    right: 20%;
  }
  .floater-three {
    bottom: 85%;
    right: 28%;
  }
  .floater-four {
    bottom: 60%;
    right: 80%;
  }
  .floater-five {
    bottom: 45%;
    right: 90%;
  }
  .profile-img {
    right: 18vw;
    width: 500px;
  }
  .hero-img1 {
    bottom: 500px;
    right: 70%;
    width: 130px;
  }
  .hero-img2 {
    bottom: 425px;
    right: 7%;
    width: 130px;
  }
  .hero-img3 {
    right: 75%;
    width: 130px;
  }
  .hero-img4 {
    right: 3%;
    width: 130px;
  }
}

@media (max-width: 575px) {
  .hero-col1-div {
    padding: 50px 15px;
  }
  .hero-title {
    font-size: 3.5rem;
  }
  .hero-subtitle {
    font-size: 1.3rem;
  }
  .hero-col2-div {
    margin-top: 0;
    height: 400px;
    clip-path: circle(88.2% at 49% 100%);
  }
  .floater-one {
    bottom: 90%;
  }
  .floater-two {
    bottom: 130%;
  }
  .floater-three {
    bottom: 125%;
  }
  .floater-four {
    right: 83%;
  }
  .floater-five {
    bottom: 50%;
  }
  .floater-six {
    bottom: 60%;
  }
  .profile-img {
    right: 13vw;
    width: 300px;
  }
  .hero-img1 {
    bottom: 400px;
    right: 70%;
    width: 100px;
  }
  .hero-img2 {
    bottom: 350px;
    right: 7%;
    width: 100px;
  }
  .hero-img3 {
    right: 70%;
    width: 100px;
  }
  .hero-img4 {
    right: 4%;
    width: 100px;
  }
}

@media (max-width: 390px) {
  .hero-title {
    font-size: 3rem;
  }
  .floater-one {
    right: 80%;
  }
  .floater-four {
    right: 88%;
  }
  .floater-five {
    right: 93%;
  }
}
/* End Hero Section */

/* Story Section */
.story-section {
  position: relative;
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
}

.faded-logo {
  position: absolute !important;
  top: -85px;
  left: 15px;
  width: 45vw;
  opacity: 0.3;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}
/* iPad Pro 12 Landscape View */
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (min-device-height: 1024px) and (max-device-height: 1024px) and (min-width: 1366px) and (max-width: 1366px) and (orientation: landscape) {
  .story-section {
    padding-top: 0;
    padding-left: 100px;
    padding-right: 100px;
  }
  .subtitle {
    font-size: 1rem;
    width: 300px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .story-section {
    padding-top: 0;
    padding-left: 100px;
    padding-right: 100px;
  }
  .subtitle {
    font-size: 1rem;
    width: 300px;
  }
}

@media (max-width: 991px) {
  .story-section {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .faded-logo {
    top: 50px;
    width: 70vw;
  }
  .subtitle {
    font-size: 1rem;
    width: 300px;
  }
}

@media (max-width: 575px) {
  .story-section {
    padding-left: 15px;
    padding-right: 15px;
  }
  .faded-logo {
    display: none;
  }
}
