/* Hero Section */
.hero-col1-div {
  width: 34.5vw;
  margin-top: 150px;
  margin-bottom: 150px;
  margin-left: 100px;
}

.hero-title {
  color: #6ccaff;
  font-size: 5vw;
  text-transform: uppercase;
}

.hero-subtitle {
  font-size: 1.2vw;
  font-weight: 600;
  text-transform: uppercase;
}

.hero-col2 {
  position: relative !important;
}

.hero-col2-div {
  position: relative !important;
  background-color: #6ccaff;
  opacity: 0.1;
  margin-top: -85px;
  width: 100%;
  height: calc(100% + 85px);
  clip-path: circle(80% at 86% 55%);
}

.floater-one {
  position: absolute !important;
  bottom: 550px;
  left: 28%;
}

.floater-two {
  position: absolute !important;
  bottom: 540px;
  right: 20%;
}

.floater-three {
  position: absolute !important;
  bottom: 475px;
  right: 28%;
}

.floater-four {
  position: absolute !important;
  bottom: 275px;
  left: 25%;
}

.floater-five {
  position: absolute !important;
  bottom: 200px;
  left: 17%;
}

.floater-six {
  position: absolute !important;
  bottom: 265px;
  right: 5%;
}

.profile-img {
  position: absolute !important;
  bottom: 0;
  right: 10vw;
  width: 350px;
  -webkit-animation: fade-in 3s 0s both;
  animation: fade-in 3s 0s both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-img1 {
  position: absolute !important;
  bottom: 420px;
  left: 20%;
  width: 110px;
  -webkit-animation: fade-in 2s 0.25s both;
  animation: fade-in 2s 0.25s both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-img2 {
  position: absolute !important;
  bottom: 360px;
  right: 7%;
  width: 110px;
  -webkit-animation: fade-in 2s 0.5s both;
  animation: fade-in 2s 0.5s both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-img3 {
  position: absolute !important;
  bottom: 50px;
  left: 12%;
  width: 110px;
  -webkit-animation: fade-in 2s 0.75s both;
  animation: fade-in 2s 0.75s both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-img4 {
  position: absolute !important;
  right: 3%;
  bottom: 100px;
  width: 110px;
  -webkit-animation: fade-in 2s 1s both;
  animation: fade-in 2s 1s both;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1920px) {
  .hero-col1-div {
    margin-left: 200px;
  }
  .floater-one {
    bottom: 620px;
    left: 42%;
  }
  .floater-two {
    bottom: 575px;
    right: 20%;
  }
  .floater-three {
    right: 26%;
  }
  .floater-four {
    bottom: 300px;
    left: 36%;
  }
  .floater-five {
    bottom: 200px;
    left: 30%;
  }
  .floater-six {
    bottom: 280px;
    right: 7%;
  }
  .hero-img1 {
    width: 130px;
    bottom: 400px;
    left: 35%;
  }
  .hero-img2 {
    width: 130px;
    bottom: 350px;
    right: 10%;
  }
  .hero-img3 {
    width: 130px;
    bottom: 30px;
    left: 30%;
  }
  .hero-img4 {
    width: 130px;
    bottom: 50px;
    right: 5%;
  }
}

@media (min-width: 1680px) and (max-width: 1919px) {
  .hero-col1-div {
    margin-left: 200px;
  }
  .floater-one {
    bottom: 600px;
    left: 38%;
  }
  .floater-two {
    bottom: 570px;
    right: 18%;
  }
  .floater-three {
    right: 26%;
  }
  .floater-four {
    bottom: 285px;
    left: 30%;
  }
  .floater-five {
    bottom: 210px;
    left: 24%;
  }
  .floater-six {
    bottom: 295px;
    right: 5%;
  }
  .hero-img1 {
    width: 130px;
    left: 30%;
  }
  .hero-img2 {
    width: 130px;
    bottom: 360px;
    right: 7%;
  }
  .hero-img3 {
    width: 130px;
    bottom: 30px;
    left: 22%;
  }
  .hero-img4 {
    width: 130px;
    bottom: 80px;
  }
}

@media (min-width: 1600px) and (max-width: 1679px) {
  .floater-one {
    bottom: 625px;
    left: 32%;
  }
  .floater-two {
    bottom: 600px;
    right: 18%;
  }
  .floater-three {
    bottom: 530px;
  }
  .floater-four {
    bottom: 325px;
  }
  .floater-five {
    bottom: 250px;
    left: 17%;
  }
  .floater-six {
    bottom: 320px;
    right: 5%;
  }
  .hero-img1 {
    width: 120px;
    bottom: 465px;
    left: 24%;
  }
  .hero-img2 {
    width: 120px;
    bottom: 410px;
    right: 8%;
  }
  .hero-img3 {
    width: 120px;
    bottom: 50px;
    left: 16%;
  }
  .hero-img4 {
    width: 120px;
    bottom: 100px;
  }
  .profile-img {
    width: 400px;
  }
}

@media (min-width: 1440px) and (max-width: 1599px) {
  .floater-one {
    bottom: 630px;
  }
  .floater-two {
    bottom: 600px;
  }
  .floater-three {
    bottom: 520px;
  }
  .floater-four {
    left: 20%;
  }
  .floater-five {
    bottom: 225px;
    left: 12%;
  }
  .floater-six {
    bottom: 300px;
    right: 5%;
  }
  .hero-img1 {
    width: 120px;
    bottom: 465px;
    left: 17%;
  }
  .hero-img2 {
    width: 120px;
    bottom: 410px;
  }
  .hero-img3 {
    width: 120px;
    left: 8%;
  }
  .hero-img4 {
    width: 120px;
  }
  .profile-img {
    width: 400px;
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .hero-col1-div {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

/* iPad Pro 12 Landscape View */
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (min-device-height: 1024px) and (max-device-height: 1024px) and (min-width: 1366px) and (max-width: 1366px) and (orientation: landscape) {
  .floater-one {
    bottom: 550px;
  }
  .hero-img1 {
    bottom: 400px;
    left: 22%;
  }
  .hero-img2 {
    bottom: 350px;
  }
  .hero-img3 {
    bottom: 30px;
    left: 13%;
  }
  .hero-img4 {
    bottom: 80px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hero-col1-div {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    width: auto;
  }
  .hero-title {
    font-size: 3.7rem;
  }
  .hero-subtitle {
    font-size: 0.9rem;
  }
  .floater-one {
    bottom: 490px;
    left: 18%;
  }
  .floater-two {
    bottom: 450px;
    right: 18%;
  }
  .floater-three {
    bottom: 380px;
    right: 30%;
  }
  .floater-four {
    bottom: 260px;
    left: 13%;
  }
  .floater-five {
    bottom: 175px;
    left: 5%;
  }
  .floater-six {
    bottom: 230px;
  }
  .profile-img {
    width: 320px;
  }
  .hero-img1 {
    bottom: 370px;
    left: 7%;
  }
  .hero-img2 {
    bottom: 310px;
    right: 3%;
  }
  .hero-img3 {
    bottom: 25px;
    left: -3%;
  }
  .hero-img4 {
    bottom: 70px;
    right: 0;
  }
}

/* iPad Pro 11 Landscape View */
@media only screen and (min-device-width: 1194px) and (max-device-width: 1194px) and (min-device-height: 834px) and (max-device-height: 834px) and (min-width: 1194px) and (max-width: 1194px) and (orientation: landscape) {
  .floater-one {
    bottom: 480px !important;
    left: 26% !important;
  }
  .floater-three {
    bottom: 385px !important;
    right: 28% !important;
  }
  .floater-four {
    bottom: 270px !important;
    left: 20% !important;
  }
  .floater-five {
    bottom: 190px !important;
    left: 13% !important;
  }
  .floater-six {
    bottom: 250px !important;
  }
  .hero-img1 {
    bottom: 360px !important;
    left: 17% !important;
  }
  .hero-img2 {
    bottom: 315px !important;
    right: 5%;
  }
  .hero-img3 {
    bottom: 15px !important;
    left: 8% !important;
  }
  .hero-img4 {
    bottom: 60px !important;
    right: 1% !important;
  }
}

/* iPad Pro 12 Portrait View */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) and (orientation: portrait) {
  .hero-img1 {
    bottom: 330px !important;
  }
  .hero-img2 {
    bottom: 290px !important;
  }
}

@media (max-width: 991px) {
  .hero-col1-div {
    width: auto;
    margin: 0;
    padding: 50px;
  }
  .hero-title {
    font-size: 5rem;
    text-align: center;
  }
  .hero-subtitle {
    font-size: 1.4rem;
    text-align: center;
  }
  .hero-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .hero-col2 {
    margin-top: 150px;
  }
  .hero-col2-div {
    margin-top: 0;
    height: 700px;
    clip-path: circle(88.2% at 49% 100%);
  }
  .floater-one {
    bottom: 750px;
    left: 22%;
  }
  .floater-two {
    bottom: 700px;
    right: 18%;
  }
  .floater-three {
    bottom: 600px;
    right: 28%;
  }
  .floater-four {
    bottom: 400px;
    left: 15%;
  }
  .floater-five {
    bottom: 300px;
    left: 10%;
  }
  .floater-six {
    bottom: 400px;
  }
  .profile-img {
    right: 18vw;
    width: 500px;
  }
  .hero-img1 {
    bottom: 600px;
    left: 14%;
    width: 130px;
  }
  .hero-img2 {
    bottom: 490px;
    right: 6%;
    width: 130px;
  }
  .hero-img3 {
    left: 5%;
    width: 130px;
  }
  .hero-img4 {
    right: 3%;
    width: 130px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .hero-img1 {
    left: 7%;
  }
  .hero-img3 {
    bottom: 30px;
  }
  .hero-img4 {
    right: 0%;
  }
}

@media (max-width: 575px) {
  .hero-col1-div {
    padding: 50px 15px;
  }
  .hero-title {
    font-size: 3.5rem;
  }
  .hero-subtitle {
    font-size: 1.3rem;
  }
  .hero-col2-div {
    margin-top: 0;
    height: 400px;
    clip-path: circle(88.2% at 49% 100%);
  }
  .floater-one {
    bottom: 500px;
    left: 16%;
  }
  .floater-two {
    bottom: 500px;
    right: 23%;
  }
  .floater-three {
    bottom: 455px;
    right: 35%;
  }
  .floater-four {
    bottom: 250px;
  }
  .floater-five {
    bottom: 175px;
    left: 7%;
  }
  .floater-six {
    bottom: 250px;
  }
  .profile-img {
    right: 13vw;
    width: 300px;
  }
  .hero-img1 {
    bottom: 400px;
    left: 5%;
    width: 100px;
  }
  .hero-img2 {
    bottom: 350px;
    right: 7%;
    width: 100px;
  }
  .hero-img3 {
    left: 10%;
    width: 100px;
  }
  .hero-img4 {
    right: 4%;
    width: 100px;
  }
}

@media (max-width: 390px) {
  .hero-title {
    font-size: 3rem;
  }
  .floater-one {
    left: 13%;
  }
  .floater-two {
    bottom: 485px;
    right: 26%;
  }
  .floater-three {
    bottom: 435px;
  }
  .floater-four {
    bottom: 250px;
  }
  .floater-five {
    bottom: 200px;
  }
  .hero-img1 {
    bottom: 400px;
    left: 0%;
  }
}
/* End Hero Section */

/* Story Section */
.story-section {
  position: relative !important;
}

.faded-logo {
  position: absolute !important;
  top: -10vh;
  left: -10vw;
  width: 45vw;
  opacity: 0.3;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}
/* iPad Pro 12 Landscape View */
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (min-device-height: 1024px) and (max-device-height: 1024px) and (min-width: 1366px) and (max-width: 1366px) and (orientation: landscape) {
  .subtitle {
    font-size: 1rem;
    width: 300px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .subtitle {
    font-size: 1rem;
    width: 300px;
  }
}

@media (max-width: 991px) {
  .faded-logo {
    top: 50px;
    width: 70vw;
  }
  .subtitle {
    font-size: 1rem;
    width: 300px;
  }
}

@media (max-width: 575px) {
  .faded-logo {
    top: 0;
    width: 90vw;
  }
}
/* End Story Section */

/* Work Section */
.work-section {
  position: relative !important;
  padding-bottom: 100px;
  background: rgb(212, 239, 254);
  background: linear-gradient(
    0deg,
    rgba(212, 239, 254, 1) 12%,
    rgba(212, 239, 254, 0.4962359943977591) 25%,
    rgba(255, 255, 255, 0) 50%
  );
}

.work-description {
  width: 1000px;
  display: block;
  margin: auto;
}

.work-row {
  margin-top: 50px;
}

.work-tab {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 15px;
}

.work-img-1 {
  width: 130px;
  display: block;
  margin: auto;
}

.work-img-2,
.work-img-3,
.work-img-4 {
  width: 166px;
  height: 123px;
  display: block;
  margin: auto;
}

.work-link {
  display: block;
  margin: 30px auto 0;
  padding-left: 20px;
  padding-right: 20px;
  width: 150px;
}

.floater-seven {
  position: absolute !important;
  bottom: 450px;
  left: -5%;
}

.floater-eight {
  position: absolute !important;
  bottom: 425px;
  left: 5%;
}

.floater-nine {
  position: absolute !important;
  bottom: 300px;
  right: -5%;
}

.floater-ten {
  position: absolute !important;
  bottom: 250px;
  right: -10%;
}

.floater-eleven {
  position: absolute !important;
  bottom: 150px;
  right: -7%;
}

.floater-twelve {
  position: absolute !important;
  bottom: -50px;
  left: -10%;
}

.floater-thirteen {
  position: absolute !important;
  bottom: 0;
  left: -5%;
}

@media (min-width: 1920px) {
  .work-section {
    padding-left: 230px;
    padding-right: 230px;
  }
}

@media (min-width: 1680px) and (max-width: 1919px) {
  .work-section {
    padding-left: 130px;
    padding-right: 130px;
  }
}

@media (min-width: 1600px) and (max-width: 1679px) {
  .work-section {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (min-width: 1600px) {
  .floater-seven {
    left: 0;
  }
  .floater-eight {
    left: 10%;
  }
  .floater-nine {
    right: 5%;
  }
  .floater-ten {
    right: 0;
  }
  .floater-eleven {
    right: 2%;
  }
  .floater-twelve {
    left: -3%;
  }
  .floater-thirteen {
    left: 0;
  }
}

/* iPad Pro 12 Landscape View */
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (min-device-height: 1024px) and (max-device-height: 1024px) and (min-width: 1366px) and (max-width: 1366px) and (orientation: landscape) {
  .floater-seven {
    left: 0;
  }
  .floater-eight {
    left: 10%;
  }
  .floater-nine {
    right: 3%;
  }
  .floater-ten {
    right: -2%;
  }
  .floater-eleven {
    right: 0;
  }
  .floater-twelve {
    left: -5%;
  }
  .floater-thirteen {
    left: -1%;
  }
}

@media (max-width: 1199px) {
  .work-description {
    width: 100%;
  }
  .work-tab {
    width: 200px;
  }
  .floater-seven {
    bottom: 475px;
    left: 10%;
  }
  .floater-eight {
    bottom: 450px;
    left: 18%;
  }
  .floater-nine {
    bottom: 500px;
    right: 20%;
  }
  .floater-ten {
    bottom: 475px;
    right: 5%;
  }
  .floater-eleven {
    bottom: 450px;
    right: 15%;
  }
  .floater-twelve {
    bottom: -80px;
    left: 3%;
  }
  .floater-thirteen {
    bottom: -60px;
    left: 7%;
  }
}

@media (max-width: 991px) {
  .work-row div:nth-child(3),
  .work-row div:nth-child(4) {
    margin-top: 50px;
  }
  .work-tab {
    width: 220px;
  }
  .floater-seven {
    bottom: 800px;
  }
  .floater-eight {
    bottom: 770px;
  }
  .floater-nine {
    bottom: 850px;
  }
  .floater-ten {
    bottom: 775px;
  }
  .floater-eleven {
    bottom: 750px;
  }
}

@media (max-width: 575px) {
  .work-row div:nth-child(2) {
    margin-top: 50px;
  }
  .floater-seven {
    bottom: 1550px;
  }
  .floater-eight {
    bottom: 1500px;
  }
  .floater-nine {
    bottom: 1230px;
    right: 15%;
  }
  .floater-ten {
    bottom: 1200px;
    right: 5%;
  }
  .floater-eleven {
    bottom: 1150px;
    right: 9%;
  }
  .floater-twelve {
    bottom: -70px;
    left: 9%;
  }

  .floater-thirteen {
    bottom: -50px;
    left: 30%;
  }
}

/* Experience Section */
.exp-section {
  padding-bottom: 500px;
}
