.intro-section {
  position: relative !important;
}

.fsd-img1-section {
  position: relative !important;
  padding-top: 50px;
}
.fsd-img1,
.fsd-img4 {
  width: 50%;
  border: 10px solid #fff;
  border-radius: 10px;
}

.tech-stack-section {
  position: relative !important;
  padding-top: 50px;
  padding-bottom: 100px;
}

.feature-img-col1-div {
  margin-right: 15px;
}

.feature-img-col2-div {
  margin-left: 15px;
}

.fsd-img2,
.fsd-img3 {
  border: 10px solid #fff;
  border-radius: 10px;
}

.fsd-img4-div {
  position: relative !important;
  padding-top: 50px;
}

.webstack-lessons-section {
  padding-top: 50px;
  padding-bottom: 100px;
}

.lessons-learned-div {
  margin-top: 50px;
}

@media (max-width: 991px) {
  .fsd-img1,
  .fsd-img2,
  .fsd-img3,
  .fsd-img4 {
    width: 80%;
  }
  .stack-col1,
  .stack-col2,
  .stack-col3,
  .stack-col4,
  .stack-col5,
  .stack-col6,
  .stack-col7 {
    width: 20%;
    flex: initial;
  }
  .stack-col1,
  .stack-col2,
  .stack-col3,
  .stack-col4,
  .stack-col5 {
    margin-bottom: 30px;
  }
  .feature-img-col1-div {
    margin-right: 0;
  }

  .feature-img-col2-div {
    margin-top: 30px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .fsd-img1-section,
  .tech-stack-section,
  .fsd-img4-div,
  .webstack-lessons-section {
    padding-top: 100px;
  }

  .fsd-img1,
  .fsd-img2,
  .fsd-img3,
  .fsd-img4 {
    width: 90%;
  }
  .tech-stack-section h4 {
    text-align: center;
  }
  .stack-col1,
  .stack-col2,
  .stack-col3,
  .stack-col4,
  .stack-col5,
  .stack-col6,
  .stack-col7 {
    width: 50%;
    flex: initial;
  }
  .stack-col6 {
    margin-bottom: 30px;
  }
}
