.intro-section {
  position: relative !important;
}

.mmi-section {
  position: relative !important;
  padding-top: 50px;
}

.skills-exp-section {
  padding-top: 50px;
  padding-bottom: 100px;
}

.mmi-img {
  width: 50%;
  border: 10px solid #fff;
  border-radius: 10px;
}

.skills-col1-div {
  padding-right: 15px;
}

.skills-col2-div {
  padding-left: 15px;
}

.floater1 {
  position: absolute !important;
  bottom: 30vh;
  left: 9.5vw;
}

.floater2 {
  position: absolute !important;
  bottom: 35vh;
  left: 14vw;
}

.floater3 {
  position: absolute !important;
  bottom: 13vh;
  left: 8vw;
}

.floater4 {
  position: absolute !important;
  bottom: 0;
  left: 17vw;
}

.floater5 {
  position: absolute !important;
  bottom: 30vh;
  right: 10vw;
}

.floater6 {
  position: absolute !important;
  bottom: 25vh;
  right: 6vw;
}

.floater7 {
  position: absolute !important;
  bottom: 5vh;
  right: 16vw;
}

/* iPad Pro 12 Portrait View */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (min-device-height: 1366px) and (max-device-height: 1366px) and (min-width: 1024px) and (max-width: 1024px) and (orientation: portrait) {
  .floater1 {
    bottom: 15vh;
    left: 9.5vw;
  }
  .floater2 {
    bottom: 18vh;
    left: 16vw;
  }
  .floater3 {
    bottom: 6vh;
    left: 7vw;
  }
  .floater4 {
    bottom: 0;
    left: 19vw;
  }
  .floater5 {
    bottom: 14vh;
    right: 13vw;
  }
  .floater6 {
    bottom: 12vh;
    right: 8vw;
  }
  .floater7 {
    bottom: 2vh;
    right: 18vw;
  }
}

@media (max-width: 991px) {
  .mmi-img {
    width: 80%;
  }
  .skills-col1-div {
    padding-right: 0;
  }

  .skills-col2-div {
    padding-top: 10px;
    padding-left: 0;
  }
  .floater1 {
    bottom: 20vh;
    left: 2vw;
  }
  .floater2 {
    bottom: 32vh;
    left: 16vw;
  }
  .floater3 {
    bottom: 10vh;
    left: 0;
  }
  .floater4 {
    bottom: -5vh;
    left: 20vw;
  }
  .floater5 {
    bottom: 31vh;
    right: 30vw;
  }
  .floater6 {
    bottom: 12vh;
    right: 4vw;
  }
  .floater7 {
    bottom: 8vh;
    right: 0vw;
  }
}

@media (max-width: 767px) {
  .floater2 {
    bottom: 29vh;
    left: 16vw;
  }
  loater4 {
    bottom: -3vh;
    left: 20vw;
  }
  .floater5 {
    bottom: 29vh;
    right: 30vw;
  }
}

@media (max-width: 575px) {
  .mmi-section {
    padding-top: 100px;
  }

  .mmi-img {
    width: 89%;
  }
  .skills-exp-section {
    padding-top: 100px;
  }
  .floater1 {
    bottom: 26vh;
    left: 2vw;
  }
  .floater2 {
    bottom: 32vh;
    left: 18vw;
  }
  .floater3 {
    bottom: -8vh;
    left: 2vw;
  }
  .floater4 {
    bottom: -5vh;
    left: 30vw;
  }
  .floater5 {
    bottom: 30vh;
    right: 30vw;
  }
  .floater6 {
    bottom: 28vh;
    right: 7vw;
  }
  .floater7 {
    bottom: -6vh;
    right: 5vw;
  }
}
