.stack-div {
  padding: 10px;
  border-radius: 10px;
  width: 120px;
  height: 120px;
}

.stack-img {
  width: 100px;
  height: 100px;
}

.stripe-img {
  width: 100px;
  height: 92px;
  margin-top: 4px;
}
